<ion-view view-title="Activity">


  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

    <div class="list condensed-space no-padding animate-blinds done">
      <div class="card dark-bg in">
        <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
          <h2>Futebo de Rua</h2>
          <p>pelada pelada pelada pelada pelada</p>
          <img src="img/futebol-de-rua.jpg"/>
        </a>
      </div>
      <div class="card dark-bg in">
        <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
          <h2>Futebo de Rua</h2>
          <p>pelada pelada pelada pelada pelada</p>
          <img src="img/mc3a3os-ao-horizonte.jpg"/>
        </a>
      </div>
    </div>

    <div class="item card-item">
      <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
        <div class="item item-avatar item-text-wrap">
          <span class="avatar" style="background-image: url('img/bola_icon.jpg');"></span>
          <strong>Jon Snow</strong> knows nothing.
          <div class="card-footer text-right">
            <i class="icon ion-chatbubbles positive"></i> 6
            <i class="icon ion-heart assertive"></i> 23
            <div class="pull-left">
              <i class="icon ion-clock"></i> just now
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item card-item">
      <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
        <div class="item item-avatar item-text-wrap">
          <span class="avatar" style="background-image: url('img/bola_icon.jpg');"></span>
          <strong>Tyrion Lannister</strong> says "Perhaps that is the secret. It is not what we do, so much as why we do it."
          <div class="card-footer text-right">
            <i class="icon ion-chatbubble positive"></i> 2
            <i class="icon ion-heart assertive"></i> 4
            <div class="pull-left">
              <i class="icon ion-clock"></i> 12 mins ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item card-item">
      <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
        <div class="item item-avatar item-text-wrap">
          <span class="avatar" style="background-image: url('img/bola_icon.jpg');"></span>
          <strong>Sansa Stark</strong> added a gallery <strong>Pretending to be Anna from Frozen</strong> ...
          <a class="image"><img src="img/bola_icon.jpg">
          </a>
          <a class="image"><img src="img/bola_icon.jpg">
          </a>
          <a class="image"><img src="img/bola_icon.jpg">
          </a>
          <div class="card-footer text-right">
            <i class="icon ion-chatbubble positive"></i> 2
            <i class="icon ion-heart assertive"></i> 4
            <div class="pull-left">
              <i class="icon ion-clock"></i> 3 hrs ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
