
<ion-view view-title="Login" align-title="left">
  <ion-content style="background: url(img/login_background.jpg) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
        <h1>Pelada-Mobile</h1>
      </div>
    </div>
    <div class="list">
      <ion-md-input placeholder="username" highlight-color="balanced" type="text"></ion-md-input>
      <ion-md-input placeholder="password" highlight-color="energized" type="password"></ion-md-input>
    </div>
    <div class="padding">
      <button ng-click="doLoginPassword('password')" class="button button-full bar-positive-900 ink">Login</button>
    </div>
    <div class="button-bar social-login">
      <button class="button button-small button-border  ion-social-google button-assertive-900" ng-click="doLogin('google')"></button>
      <button class="button button-small button-border  ion-social-twitter button-calm-900" ng-click="doLogin('twitter')"></button>
      <button class="button button-small button-border  ion-social-facebook button-positive-900" ng-click="doLogin('facebook')"></button>
      <button class="button button-small button-border  ion-social-github button-royal" ng-click="doLogin('github')"></button>
    </div>
  </ion-content>
</ion-view>