<ion-view view-title="Map">
  <ion-content >
    <div class="list animate-fade-slide-in-right">
      <div class="content">
        <form role="form" name="form" >
          <label class="item item-input item-floating-label">
            <span class="input-label">Endereço</span>
            <input type="text" name="search" id="search" placeholder="Search" >
          </label>
        </form>
      </div>
    </div>

    <ui-gmap-google-map center='map.center' zoom='map.zoom'  events="map.events">
      <ui-gmap-marker coords="marker.coords" idkey="marker.id"  >
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>