<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
      <ion-nav-back-button class="no-text">
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right"  ng-show="!isCreatePage">
        </button>
        <button class="button button-icon button-clear ion-android-done" ng-show="isCreatePage"  form="createFrm" >
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="fabContent"></ion-nav-view>
    <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right">
    <ion-header-bar  ng-if="user" class="dark-bg expanded" >
      <div  ng-if="user.profileImageURL"  class="avatar" style="background-image: url({{user.profileImageURL}});"></div>
      <h2>{{user.displayName}}</h2>
      <!--<p>{{user.profile.provider}}</p>-->
    </ion-header-bar>
    <ion-content class="stable-bg has-expanded-header">
      <ion-list>
        <ion-item menu-close href="#/app/atividade">
          Atividade
        </ion-item>
        <ion-item menu-close href="#/app/profile/equipes">
          Profile
        </ion-item>
        <ion-item menu-close ui-sref="app.peladas({equipeId:'566f644b1d05b303005602c7'})">
          Peladas
        </ion-item>

        <ion-item menu-close href="#/app/map">
          Map
        </ion-item>
     <!--   <ion-item menu-close href="#/app/equipes">
          Equipes
        </ion-item>-->
        <ion-item menu-close href="#/app/local">
          Locais
        </ion-item>
        <ion-item menu-close href="#/app/logoff">
          Logoff
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

