<ion-view view-title="Peladeiros">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="content has-header">
      <div class="list animate-fade-slide-in-right">

        <ion-list>
          <a ng-repeat="peladeiro in peladeiros" href="#/app/profile" class="item item-avatar item-icon-right">
            <img src="img/bola_icon.jpg">
            <h2>{{peladeiro.title}}</h2>
            <p>Da illest illegitimate</p>
            <i class="icon ion-chatbubble muted"></i>
          </a>
          </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
