<ion-view view-title="Profile">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="hero slide-up" style="background-image: url('img/mipista2.jpg');">
      <div class="content" ng-if="user">
        <div class="avatar" style="background-image: url({{user.profileImageURL}});"></div>
        <h3><a class="light">{{user.displayName}}</a></h3>
        <h4>{{user.email}}</h4>
        <p  ng-show="peladeiro">{{peladeiro.posicao}}</p>
      </div>
    </div>
    <div class="tabs tabs-dark tabs-icon-top static">
      <a ui-sref="app.profile.equipes" class="tab-item">
        <i class="icon ion-android-people"></i> Equipes
      </a>
      <a ui-sref="app.profile.peladas" class="tab-item">
        <i class="icon ion-ios-football"></i> Peladas
      </a>
      <a class="tab-item">
        <i class="icon ion-images"></i> Photos
      </a>
    </div>

    <ion-nav-view name="profileContent" ></ion-nav-view>

  </ion-content>
</ion-view>
