<ion-view view-title="Locais">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="animate-fade-slide-in">
    <div class="content">
      <div ng-if="locais.length>0" class="list animate-fade-slide-in-right">
        <a ng-repeat="local in locais" ui-sref="app.viewLocal({id:local.id})" class="item item-avatar item-icon-right">
          <img ng-if="!local.escudo" src="img/campo.jpg">
          <h2>{{local.nome}}</h2>
          <p>{{local.tipo}}</p>
          <!--<i class="icon ion-ios-football muted"></i>-->
        </a>
      </div>
      <div>
        <div class="item item-icon-right" ng-if="locais.length===0">
          <p>Ainda não existe nenhum local próximo a você cadastrado</p>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
