<ion-view view-title="Local">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="hero slide-up" style="background-image: url('img/campo.jpg');">
      <div class="content has-header" >
        <p>&nbsp;</p>
        <h3><b><a class="light">{{local.nome}}</a></b></h3>
        <h4><b>{{local.tipo}}</b></h4>
        <!--<p> das <b>{{local.horaInicio | date: 'HH:mm'}}</b> às <b>{{local.horaFim | date: 'HH:mm'}}</b></p>-->
      </div>
    </div>
   <div class="tabs tabs-dark tabs-icon-top static">
      <a  class="tab-item">
        <i class="icon ion-clock"></i> Horários
      </a>
      <a  class="tab-item">
        <i class="icon ion-information-circled"></i> Informações
      </a>
      <a class="tab-item">
        <i class="icon ion-map"></i> Localização
      </a>
    </div>
    <ion-nav-view name="localContent" >
      <ui-gmap-google-map center='map.center' zoom='map.zoom'  events="map.events">
        <ui-gmap-marker coords="marker.coords" idkey="marker.id"  >
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </ion-nav-view>
  </ion-content>
</ion-view>
