<label class="item item-input item-floating-label">
  <span class="input-label">Campo</span>
  <input type="text" name="nome" ng-model="local.nome" placeholder="Nome Campo" required="" >
  <div ng-show="createFrm.$submitted || createFrm.nome.$touched">
    <div ng-show="createFrm.nome.$error.required" class="assertive">Nome do campo obrigatório!</div>
  </div>
</label>
<label class="item item-input item-floating-label">
  <span class="input-label.has-input">Tipo</span>
  <select name="tipo" ng-model="local.tipo" required="" >
    <option value="">Selecione um tipo</option>
    <option ng-repeat="tipo in tipos" value="{{tipo.nome}}">{{tipo.nome}}</option>
  </select>
  <div ng-show="createFrm.$submitted || createFrm.tipo.$touched">
    <div ng-show="createFrm.tipo.$error.required" class="assertive">Tipo é obrigatório!</div>
  </div>
</label>
<label class="item item-input item-floating-label">
  <span class="input-label">Endereço</span>
  <input type="text" name="search" id="search" placeholder="Search" >
</label>

