<ion-view view-title="Adicionar Campo">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="list animate-fade-slide-in-right">
      <div class="content">
        <form  name="createFrm"  id="createFrm" ng-submit="save()" onsubmit="return false">
          <div ng-include="'templates/local/local-form.html'"></div>
        </form>
      </div>
    </div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'  events="map.events">
      <ui-gmap-marker coords="marker.coords" idkey="marker.id"  >
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>
