<ion-view view-title="Convidar Peladeiros">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="list animate-fade-slide-in">
      <div class="content">
        <form role="form" name="form"  ng-submit="addPelada()">
          <label class="item item-input item-floating-label">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Search" ng-change="search()" ng-model="data.q" >
            </label>
          </label>
        </form>
      </div>
      <div class="content " >
        <div class="list animate-fade-slide-in">
          <a  ng-repeat="result in results track by $index" class="item item-avatar item-icon-right in done">
            <img ng-src="{{result._source.imagemURL}}" ng-if="result._source.imagemURL">
            <img ng-src="img/icons/Star-Wars-icons-trooper-8.jpg" ng-if="!result._source.imagemURL">
            <h2>{{result._source.nome}}</h2>
            <p>{{result._source.posicao}}</p>
            <i class="icon " ng-click="addPeladeiro(result._source, result._id)"  ng-class="isEquipe(result._id) ? 'ion-checkmark-circled balanced': 'ion-plus-circled stable'"></i>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
