<ion-view view-title="Marcar Pelada">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="list animate-fade-slide-in-right">
      <div class="content">
        <form name="createFrm" id="createFrm" ng-submit="save()">
          <div ng-include="'templates/pelada/pelada-form.html'"></div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
