<label class="item item-input item-floating-label">

  <label class="item item-input">
    <input type="text" name="titulo" ng-model="pelada.titulo" placeholder="Titulo" required="" >
    <div ng-show="createFrm.$submitted || createFrm.titulo.$touched">
      <div ng-show="createFrm.titulo.$error.required" class="assertive">Campo obrigatório!</div>
    </div>
  </label>
  <label class="item item-input">
    <input type="text" name="detalhe" ng-model="pelada.detalhe" placeholder="Detalhe" required="" >
    <div ng-show="createFrm.$submitted || createFrm.detalhe.$touched">
      <div ng-show="createFrm.detalhe.$error.required" class="assertive">Campo obrigatório!</div>
    </div>
  </label>

  <label class="item item-input">
    <i class="icon ion-location placeholder-icon"></i>
    <input  name="local" ng-model="campo" placeholder="Local Pelada"
            ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
            max-selected-items="1" items-method="callbackMethod(query)" items-clicked-method="clickedMethod(callback)"
            item-value-key="id" item-view-value-key="nome"/>

    <div ng-show="createFrm.$submitted || createFrm.local.$touched">
      <div ng-show="createFrm.local.$error.required" class="assertive">Campo obrigatório!</div>
    </div>
  </label>
</label>
<label class="item item-input item-floating-label">
  <label class="item item-input">
    <i class="icon ion-calendar placeholder-icon"></i>
    <input type="text" name="data" pick-a-date="date" ng-model="pelada.data" placeholder="Escolha uma Data" pick-a-date-options="{ createFrmat: 'yyyy-mm-dd' }" required="" />
    <div ng-show="createFrm.$submitted || createFrm.data.$touched">
      <div ng-show="createFrm.data.$error.required" class="assertive">Campo obrigatório!</div>
    </div>
  </label>
</label>
<label class="item item-input item-floating-label">
  <label class="item item-input">
    <i class="icon ion-clock placeholder-icon"></i>
    <input type="text" name="horaInicio" pick-a-time="time" ng-model="pelada.horaInicio" placeholder="Add Horário Início" pick-a-date-options="{ createFrmat: 'HH:i' }" required="" />
    <div ng-show="createFrm.$submitted || createFrm.horaInicio.$touched">
      <div ng-show="createFrm.horaInicio.$error.required" class="assertive">Campo obrigatório!</div>
    </div>
  </label>
  <label class="item item-input">
    <i class="icon ion-clock placeholder-icon"></i>
    <input type="text" name="horaFim" pick-a-time="time"  ng-model="pelada.horaFim" placeholder="Add Horário Termino" pick-a-date-options="{ createFrmat: 'HH:i', createFrmatLabel: 'HH:i'}" required="" />
    <div ng-show="createFrm.$submitted || createFrm.horaFim.$touched">
      <div ng-show="createFrm.horaFim.$error.required" class="assertive">Campo obrigatório!</div>
    </div>
  </label>
</label>
<label class="item item-select">
  <div class="input-label">
    <i class="icon ion-person-stalker placeholder-icon"></i>Equipe
  </div>
  <select name="equipeSelect" ng-model="pelada.equipe" required="" class="item item-select">
    <option value="">Selecione ...</option>
    <option ng-repeat="equipe in peladeiro.equipes" value="{{equipe.id}}">{{equipe.nome}}</option>
  </select>
  <div ng-show="createFrm.$submitted || createFrm.equipeSelect.$touched">
    <div ng-show="createFrm.equipeSelect.$error.required" class="assertive">Campo obrigatório!</div>
  </div>
</label>