<ion-view view-title="Pelada">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="hero slide-up" style="background-image: url('img/campo.jpg');">
      <div class="content has-header" >
        <p>&nbsp;</p>
        <h3><b><a >{{pelada.titulo}}</a></b></h3>
        <b><i class="icon ion-calendar"></i> {{pelada.data | date: 'dd/MM/yyyy'}}</b>
        &nbsp;<i class="icon ion-clock"></i> <b>{{pelada.horaInicio | date: 'HH:mm'}}</b> às <b>{{pelada.horaFim | date: 'HH:mm'}}</b><br/>
        <b><i class="icon ion-location"></i> {{pelada.local.tipo}} {{pelada.local.nome}}</b>
      </div>
    </div>
    <div class="tabs tabs-dark tabs-icon-bot static">
      <a  class="tab-item" ng-click="show='info'">
        <i class="icon ion-ios-information stable" ng-class="show==='info'? 'ion-ios-information' :'ion-ios-information-outline'"></i> Informações
      </a>
      <a  class="tab-item" ng-click="show='team'">
        <i class="icon stable" ng-class="show==='team'? 'ion-ios-people' :'ion-ios-people-outline'"></i> Quem vai
      </a>
      <a class="tab-item" ng-click="show='close'">
        <i class="icon stable"  ng-class="show==='close'? 'ion-ios-close' :'ion-ios-close-outline'"></i> Não Vai
      </a>
    </div>
    <div class="content" ng-show="show==='info'">
      <div class="tabs tabs-light tabs-icon-top static">
        <a class="tab-item" ng-click="unknown(peladeiro.id)" >
          <i class="icon ion-help-circled" ng-class="pelada.confirmados.indexOf(peladeiro.id)==-1 && pelada.rejeitados.indexOf(peladeiro.id)==-1 ? 'energized': 'stable'"></i> Convidados
        </a>
        <a  class="tab-item" ng-click="confirm(peladeiro.id)" >
          <i class="icon ion-checkmark-circled" ng-class="pelada.confirmados.indexOf(peladeiro.id)>-1 ? 'balanced': 'stable'"></i> Confirmados
        </a>
        <a  class="tab-item"  ng-click="refuse(peladeiro.id)">
          <i class="icon ion-close-circled stable" ng-class="pelada.rejeitados.indexOf(peladeiro.id)>-1 ? 'assertive': 'stable'"></i> Não Vou
        </a>
      </div>
      <div class="tabs tabs-light tabs-icon-top static">
        <a class="tab-item energized">
          <h1>{{peladeiros.length}}</h1>
        </a>
        <a  class="tab-item balanced">
          <h1>{{pelada.confirmados.length}}</h1>
        </a>
        <a  class="tab-item assertive" >
          <h1>{{pelada.rejeitados.length}}</h1>
        </a>
      </div>
      <div >
        <h4 class="content padding">{{pelada.detalhe}}</h4>
      </div>
    </div>
    <div class="content"  ng-if="show==='team'">
      <div class="list" >
        <div class="content" >
          <a  ng-repeat="peladeiro in peladeiros | filter: filterConfirmed | orderBy: nome track by peladeiro.id " class="item item-avatar item-icon-right" ng-show="peladeiros.length>0">
            <img ng-src="{{peladeiro.imagemURL}}" ng-if="peladeiro.imagemURL">
            <img ng-src="img/icons/Star-Wars-icons-trooper-8.jpg" ng-if="!peladeiro.imagemURL">
            <h2>{{peladeiro.nome}}</h2>
            <p ng-show="equipe.lider.id!=peladeiro.id">{{peladeiro.posicao}}</p>
            <i class="icon ion-checkmark-round balanced"></i>
          </a>
        </div>
        <div class="item item-icon-right" ng-show="peladeiros.length===0">
          <p>A equipe ainda não possui nenhum peladeiro</p>
        </div>
      </div>
    </div>

    <div class="content"  ng-show="show==='close'">
      <div class="list" >
        <div class="content" >
          <a  ng-repeat="peladeiro in peladeiros | filter: filterClose| orderBy: nome track by peladeiro.id " class="item item-avatar item-icon-right" ng-show="peladeiros.length>0">
            <img ng-src="{{peladeiro.imagemURL}}" ng-if="peladeiro.imagemURL">
            <img ng-src="img/icons/Star-Wars-icons-trooper-8.jpg" ng-if="!peladeiro.imagemURL">
            <h2>{{peladeiro.nome}}</h2>
            <p ng-show="equipe.lider.id!=peladeiro.id">{{peladeiro.posicao}}</p>
            <i class="icon ion-close-round assertive"></i>
          </a>
        </div>
        <div class="item item-icon-right" ng-show="peladeiros.length===0">
          <p>A equipe ainda não possui nenhum peladeiro</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
