<h4 class="content padding double-padding-x">Suas Peladas</h4>
<div class="list animate-fade-slide-in-right">
  <div ng-show="peladas && peladas.length>0" class="list animate-fade-slide-in-right">
      <div  ng-repeat="pelada in peladas"  >
        <div   ui-sref="app.viewPelada({id:pelada.id})"  class="card stable-bg ink ink-dark in done" on-swipe-right="delete(pelada)">
          <div class="item item-avatar item-text-wrap in done">
            <span class="avatar" style="background-image: url('img/futebol-pelada18-daniel-castellano.jpg');"></span>
            <p><strong>{{pelada.titulo}}</strong></p>
            <div class="card-footer text-left">
              <div class="pull-left">
                <p><h4><i class="icon ion-location"></i> {{pelada.local.tipo}} {{pelada.local.nome}}</h4></p>
              </div>
              <div class="pull-left">
                <p><h4><i class="icon ion-calendar"></i> {{pelada.data | date: 'dd/MM/yyyy'}}
                <i class="icon ion-clock"></i> {{pelada.horaInicio | date: 'HH:mm'}} - {{pelada.horaFim | date: 'HH:mm'}}</h4> </p>
              </div>
              <div class="pull-left">
                <i class="icon ion-help-circled energized"></i> {{peladeiros.length}}
                <i class="icon ion-checkmark-circled positive center"></i> {{pelada.confirmados.length}}
                <i class="icon ion-close-circled assertive right"></i> {{pelada.rejeitados.length}}
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div>
    <div class="item item-icon-right" ng-if="peladeiro.equipes.length===0">
      <p>Você ainda não possui nenhuma equipe</p>
    </div>
  </div>
</div>