<h4 class="content padding">Peladeiros</h4>
<div class="list">
  <div class="content" >
    <a  ng-repeat="peladeiro in peladeiros | orderBy: nome track by peladeiro.id " class="item item-avatar item-icon-right" ng-show="peladeiros.length>0">
      <img ng-src="{{peladeiro.imagemURL}}" ng-if="peladeiro.imagemURL">
      <img ng-src="img/icons/Star-Wars-icons-trooper-8.jpg" ng-if="!peladeiro.imagemURL">
      <h2>{{peladeiro.nome}}</h2>
      <p ng-show="equipe.lider.id!=peladeiro.id">{{peladeiro.posicao}}</p>
      <p ng-show="equipe.lider.id===peladeiro.id"  ng-model="lider">Lider</p>
      <i class="icon ion-minus-circled assertive" ng-click="removePeladeiros($index, peladeiro.id)" ng-class="{'stable':equipe.lider.id===peladeiro.id}"></i>
    </a>
  </div>
  <div class="item item-icon-right" ng-show="peladeiros.length===0">
    <p>A equipe ainda não possui nenhum peladeiro</p>
  </div>
</div>

<script id="equipe-add-peladeiro.html" type="text/ng-template">
  <div class="modal in done">
    <ion-view>
      <ion-content ng-class="{expanded:isExpanded}">
        <div class="list animate-fade-slide-in in done">
          <div class="content in done">
            <header class="bar bar-header bar-positive-900 left">
              <h1 class="title title-left header-item" >Adicionar Peladeiros</h1>
              <div class="button button-icon button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
            </header>
            <form role="form" name="form"  ng-submit="addPelada()">
              <label class="item item-input item-floating-label  has-header in done">
                <label class="item item-input in done">
                  <i class="icon ion-search placeholder-icon in done"></i>
                  <input type="search" placeholder="Search" ng-change="search()" ng-model="data.q" >
                </label>
              </label>
            </form>

          </div>
          <div class="content  has-header in done" >
            <div class="list animate-fade-slide-in in done">
              <a  ng-repeat="result in results track by $index" class="item item-avatar item-icon-right in done">
                <img ng-src="{{result._source.imagemURL}}" ng-if="result._source.imagemURL">
                <img ng-src="img/icons/Star-Wars-icons-trooper-8.jpg" ng-if="!result._source.imagemURL">
                <h2>{{result._source.nome}}</h2>
                <p>{{result._source.posicao}}</p>
                <i class="icon " ng-click="addPeladeiro(result._source, result._id)"  ng-class="isEquipe(result._id) ? 'ion-checkmark-circled balanced': 'ion-plus-circled stable'"></i>
              </a>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-view>
  </div>
</script>