<ion-view view-title="Criar Peladeiro">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="list animate-fade-slide-in-right">
      <div class="content">
        <form id="createFrm" name="createFrm"  ng-submit="addPeladeiro();">
          <div ng-include="'templates/peladeiro/peladeiro-form.html'"></div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
