<label class="item item-input item-floating-label">
  <label class="item item-input">
    <input type="text" name="nome" ng-model="newPeladeiro.nome" placeholder="Nome" required="" >
    <div ng-show="createFrm.$submitted || createFrm.nome.$touched">
      <div ng-show="createFrm.nome.$error.required" class="assertive">Campo obrigatório!</div>
    </div>
  </label>
</label>
<label class="item item-input ">
  <div class="input-label">
    <i class="icon ion-person-stalker placeholder-icon"></i>Equipe
  </div>
  <select name="multipleSelect" ng-model="newPeladeiro.equipes" required="" class="item item-input item-select">
    <option value="">Selecione ...</option>
    <option ng-repeat="equipe in peladeiro.equipes" value="{{equipe.id}}">{{equipe.nome}}</option>
  </select>
</label>
<label class="item item-input">
  <div ng-show="createFrm.$submitted || createFrm.multipleSelect.$touched">
    <div ng-show="createFrm.multipleSelect.$error.required" class="assertive">Campo obrigatório!</div>
  </div>
</label>