<ion-view view-title="Criar Equipe" >
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="list animate-fade-slide-in-right">
      <div class="content">
        <form  name="createFrm" id="createFrm" ng-submit="save();">
          <div ng-include="'templates/equipe/equipe-form.html'"></div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
