<ion-view view-title="Equipe">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="hero slide-up" style="background-image: url('img/fut-glicerio-felipe-larozza-3825.jpg');">
      <div class="content has-header" >
        <div class="avatar" ng-if="equipe.escudo" style="background-image: url({{equipe.escudo}});"></div>
        <div class="avatar" ng-if="!equipe.escudo" style="background-image: url('img/escudos/escudo_default.jpg');"></div>
        <h3><a class="light">{{equipe.nome}}</a></h3>
        <h4>{{equipe.lider.peladeiro.usuario.displayName}}</h4>
        <p>{{equipe.lider.peladeiro.posicao}}</p>
      </div>
    </div>
    <div class="tabs tabs-dark tabs-icon-top static">
      <a  class="tab-item" ui-sref="app.viewEquipe.peladeiros">
        <i class="icon ion-android-people"></i> Peladeiros
      </a>
      <a  ui-sref="app.peladas({equipeId:equipe.id})"  class="tab-item">
        <i class="icon ion-ios-football"></i> Peladas
      </a>
      <a ui-sref="app.gallery" class="tab-item">
        <i class="icon ion-android-chat"></i> Alertas
      </a>
    </div>
    <ion-nav-view name="equipeContent" >
      <div class="list">
        <div class="content" >
          <a  ng-repeat="peladeiro in peladeiros | orderBy: nome track by peladeiro.id " class="item item-avatar item-icon-right" ng-show="peladeiros.length>0">
            <img ng-src="{{peladeiro.imagemURL}}" ng-if="peladeiro.imagemURL">
            <img ng-src="img/icons/Star-Wars-icons-trooper-8.jpg" ng-if="!peladeiro.imagemURL">
            <h2>{{peladeiro.nome}}</h2>
            <p ng-show="equipe.lider.id!=peladeiro.id">{{peladeiro.posicao}}</p>
            <p ng-show="equipe.lider.id===peladeiro.id"  ng-model="lider">Lider</p>
            <i class="icon ion-help-circled energized" ng-class="{'stable':equipe.lider.id===peladeiro.id}"></i>
          </a>
        </div>
        <div class="item item-icon-right" ng-show="peladeiros.length===0">
          <p>A equipe ainda não possui nenhum peladeiro</p>
        </div>
      </div>
    </ion-nav-view>
  </ion-content>
</ion-view>
