<ion-view view-title="Atualizar Equipe" ng-init="init()">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="list animate-fade-slide-in-right">
      <div class="content has-header">
        <form role="form" ng-submit="updateEquipe()">
          <div ng-include="'templates/equipe/equipe-form.html'"></div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>

