<label class="item item-input item-floating-label">
  <span class="input-label">Nome Equipe</span>
  <input type="text" name="nome" ng-model="equipe.nome" placeholder="Nome Equipe" required>
  <div ng-show="createFrm.$submitted || createFrm.nome.$touched">
    <div ng-show="createFrm.nome.$error.required" class="assertive">Campo obrigatório!</div>
  </div>
</label>
<label class="item  item-floating-label">
  <div class="item item-checkbox">
    <label class="checkbox"> <input type="checkbox" ng-model="equipe.isPrivado"> </label> Privado
  </div>
</label>