<ion-view view-title="Equipes">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="content has-header">
      <div ng-if="equipes.length>0" class="list animate-fade-slide-in-right">
        <a ng-repeat="equipe in equipes" ui-sref="app.viewEquipe({id:equipe.id})" class="item item-avatar item-icon-right">
          <img ng-if="equipe.escudo" src="{{equipe.escudo}}">
          <img ng-if="!equipe.escudo" src="img/escudos/escudo_default.png">
          <h2>{{equipe.nome}}</h2>
          <p>{{equipe.lider.usuario.displayName}}</p>
          <i class="icon ion-ios-football muted"></i>
        </a>
      </div>
      <div>
        <div class="item item-icon-right" ng-if="equipes.length===0">
          <p>A equipe ainda não possui nenhum peladeiro</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
