<h4 class="content padding double-padding-x">Suas Equipes</h4>
<div class="list animate-fade-slide-in-right">
  <div ng-show="peladeiro && peladeiro.equipes.length>0" class="list animate-fade-slide-in-right">
    <a ng-repeat="equipe in peladeiro.equipes" ui-sref="app.viewEquipe.peladeiros({id:equipe.id})" class="item item-avatar item-icon-right">
      <img ng-if="equipe && equipe.escudo" ng-src="{{equipe.escudo}}">
      <img ng-if="!equipe.escudo" src="img/escudos/escudo_default.jpg">
      <h2>{{equipe.nome}}</h2>
      <p>{{equipe.lider.usuario.displayName}}</p>
      <i class="icon ion-ios-football muted"></i>
    </a>
  </div>
  <div>
    <div class="item item-icon-right" ng-if="peladeiro.equipes.length===0">
      <p>Você ainda não possui nenhuma equipe</p>
    </div>
  </div>
</div>