/* General
==================================*/
h1 {
   color: #fff;
   text-shadow: 0 1px 0px #000;
   font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
   border-top: solid 2px #bbb;
   padding-top: 30px;
}

p {
   color: #fff;
   margin: 0 0 25px;
}

.scroll {
   height: 100%;
}

 input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
    background-color: #fff;
 }

/* Menu
==================================*/
.menu .bar.bar-header.expanded {
   transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
   background-color: #222;
}

.menu h2 {
   bottom: 0;
   font-size: 18px;
   left: 16px;
   position: absolute;
}

.menu .avatar {
   height: 88px;
   width: 88px;
}

.menu.menu-left * {
   font-weight: bold;
}

.menu-open .ion-navicon {
   transform: rotate(-360deg);
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
   content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
   background-color: #fff;
   background: url('../img/bola_icon.jpg') center;
   background-size: cover;
   border-radius: 50%;
   height: 125px;
   margin: 0 auto;
   width: 125px;
}

.social-login {
   position: fixed;
   bottom: 0;
}


/* MAP
=====================================*/
.map {
 height: 50%;
 width: 100%;
}
.scroll {
 height: 100%;
}
.angular-google-map-container { height: 300px; }